/*
    #F1404B - red
    #DDDFE6 - grey
    #F4F5F9 - light-grey
    #252C41 - dark-blue
*/

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.message-item{
    -webkit-animation: fadeEffect .5s;
    animation: fadeEffect .5s;
}

.success {
    background-color: #F1404B !important;
}

